<!DOCTYPE html>
<!-- add or modify.  Change index to ident.  -->
<html>
  <head>
    <title>Profile</title>
    <meta charset="utf-8"/>
    <style type="text/css">
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>

  <body>




    <div class="topnav" style="text-align:center;font-size:17px;">

        <a href="#feed">Feed</a>
        <a href="#explore">Explore</a>
        <a href="#search">Search</a>
        <a class="active" href="#profile">Profile</a>
      </div>
    <div id="profiledesc" style="text-align:center;font-size:17px;">
    	<h3 id = "username">Usernames's Profile</h3>
       <div id = "name">Name:</div>
       <div id = "datejoined">Date Joined:</div>
       <div id = "age">Age:</div>
       <br>
       <button id = "newPost" onclick="location.href='../mainpages/html/createPost.html';">NEW POST</button>
    </div>
    <form action="fileupload" method="post" enctype="multipart/form-data">
      <input id="fileStuff" type="file" name="filetoupload"><br>
      <input type="submit">
    </form>

  	<h3 style="text-align:center;font-size:17px;">Posts: </h3>
    <ul id="postlist"></ul>



  <ul id="list"></ul>

	<script src="js/session.js"></script>

  </body>
</html>
